{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <nav>
      <div class="navbar">
        <a href="#" class="logo"><i class="fas fa-chart-line"></i> Expense Tracker</a>
        <ul class="nav-links">
          <li><a href="#">Home</a></li>
          <li><a href="#how-it-works">How it works</a></li>
          <li><a href="#">Support</a></li>
        </ul>
        <div class="buttons">
          <a href="/login" class="btn-head"><i class="fas fa-sign-in-alt"></i> Log In</a>
          <a href="/sign_up" class="btn-head" ><i class="fas fa-user-plus"></i> Sign Up</a>
        </div>
      </div>
    </nav>

    <!-- Landing Page Content -->
    <section class="section-box">
      <div class="main-landing">
        <div class="content">
          <h1 class="under-welcome-h1">Take Control of Your Finances</h1>
          <div class="under-h1"></div>
          <p class="under-welcome-p">
            Track your income and expenses effortlessly. Manage your budget, set
            financial goals, and make smarter decisions for more secure future.
          </p>
        </div>
        <div class="under-welcome-image">
          <img src="../static/img/makeme.png" alt="Power Finance" />
        </div>
      </div>
    </section>
    <br />
    <div class="arrow">
      <a href="#tracker " class="scroll-link">
        <!-- <span></span> -->
        <!-- <span></span> -->
        <span></span>
      </a>
    </div>

    <section class="how-it-works" id="how-it-works">
      <div class="head-text">
        <h1>How it works</h1>
        <div class="under-head-text"></div>
      </div>
      <br />
      <div class="working-content">
        <div class="left-working">
          <h5 class="working-head">
            Experience the power of
            <span class="text-lightBlue">Personal Expense Manager</span>
          </h5>
          <ul class="ul-items">
            <li class="check-list-items">
              <i data-feather="check" class="feather icon-check"></i>
              <span>Track effortlessly</span>
            </li>
            <li class="check-list-items">
              <i data-feather="check" class="feather icon-check"></i>
              <span>Control transactions</span>
            </li>
            <li class="check-list-items">
              <i data-feather="check" class="feather icon-check"></i>
              <span>Customize currencies</span>
            </li>
            <li class="check-list-items">
              <i class="icon-check" data-feather="check"></i>
              <span>Edit with ease</span>
            </li>
            <li class="check-list-items">
              <i data-feather="check" class="feather icon-check"></i>
              <span>Real-time balance</span>
            </li>
            <li class="check-list-items">
              <i data-feather="check" class="feather icon-check"></i>
              <span>Secure data protection</span>
            </li>
          </ul>
        </div>
        <div class="right-working-image">
          <!-- <div class="under-welcome-image"> -->
          <img
            src="../static/img/how-it-works.png"
            target="_self"
            alt="Power Finance"
          />
          <!-- </div> -->
        </div>
      </div>
    </section>
    <footer>
      <div class="footer">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="/support">Contact Us</a></li>
        </ul>
        <p>Created by Riyazul Arfaat</p>
      </div>
    </footer>
    <script>
      feather.replace();
    </script>
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
{% endblock %}