{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <nav>
        <div class="navbar">
            <a href="#" class="logo"><i class="fas fa-chart-line"></i> Expense Tracker</a>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="/add">Add</a></li>
                <li><a href="/view">View</a></li>
                <li><a href="/delete">Delete</a></li>
                <li><a href="/update">Update</a></li>            
            </ul>
            <div class="buttons">
                <a href="/logout" class="btn-head"><i class="fas fa-sign-in-alt"></i> Log Out</a>
            </div>
        </div>
    </nav>
    
    <section class="main-content" id="tracker" style="margin-top: 90px; padding-top:20px">   
        <div class="head-text">
            <h1>Access Your Personal Finance History</h1>
            <div class="under-head-text"></div>
            </div>
            <br />
            <div class="user">
                <h1>Welcome, {{ user.name }}</h1>
                <main>
                    <header>
                        <div class="month-filter">
                            <label for="month">Select Month:</label>
                            <form class="option_class" method="GET" action="{{ url_for('home_page') }}">
                                <select id="month" name="month" onchange="this.form.submit()">
                                    <option value="" {% if not selected_month %}selected{% endif %}>Select</option>
                                    {% for month in range(1, 13) %}
                                    <option value="{{ month }}" {% if selected_month==month %}selected{% endif %}>
                                        {{ month }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </form>
                            <a href="{{ url_for('download_report', month=selected_month) }}" class="download-button">
                                Download Report
                            </a>
                        </div>
                        <div>
                            <h5>Total Balance</h5>
                            <span id="balance">{{ total_balance }}</span>
                        </div>
                        <div>
                            <h5>Income</h5>
                            <span id="income">{{ total_incomes }}</span>
                        </div>
                        <div>
                            <h5>Expense</h5>
                            <span id="expense">{{ total_expenses }}</span>
                        </div>
                    </header>
                </main>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer">
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="/support">Contact Us</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}