{% extends "base.html" %}
{% block title %}Support{% endblock %}
{% block content %}
  <!-- <header class="header-part"> -->
    <nav>
      <div class="navbar">
        <a href="#" class="logo"
          ><i class="fas fa-chart-line"></i> Finance Tracker</a
        >
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/support">Support</a></li>
        </ul>
        <div class="buttons">
          <a href="./login.html" class="btn-head"
            ><i class="fas fa-sign-in-alt"></i> Log In</a
          >
          <a href="/sign_up" class="btn-head"
            ><i class="fas fa-user-plus"></i> Sign Up</a>
          
        </div>
        <!-- <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div> -->
      </div>
    </nav>
    <div class="container-support">
      <form class="signup-form" action="/signup" method="post">
        <h2>How can we help you?</h2>
        <div class="form-group">
          <label for="fullname">Full Name <span>*</span></label>
          <input type="text" id="fullname" name="fullname" required>
        </div>
        <div class="form-group">
          <label for="email">Email Address <span>*</span></label>
          <input type="email" id="email" name="email" required>
        </div>
        <!-- <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required>
        </div> -->
        
        <div class="form-group">
          <label for="query">Query <span>*</span></label>
          <textarea name="query" id="query"></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>

<footer>
  <div class="footer">
    <ul>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="/support">Contact Us</a></li>
    </ul>
  </div>
</footer>
<script>feather.replace();</script>
<script src="script.js"></script>
<script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
{% endblock %}