{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block content %}
    <nav>
        <div class="navbar">
            <a href="#" class="logo"><i class="fas fa-chart-line"></i> Expense Tracker</a>
            <ul class="nav-links">
                <li><a href="/home_page">Home</a></li>
                <li><a href="/add">Add</a></li>
                <li><a href="/view">View</a></li>
                <li><a href="#">Update</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
            <div class="buttons">
                <a href="home" class="btn-head"><i class="fas fa-sign-in-alt"></i> Log Out</a>
    
            </div>
        </div>
    </nav>

    <div class="update-content-box">
        <h2>Update Expense</h2>
        <form action="/update" method="POST">
            <label for="search_type">Search By:</label>
            <select name="search_type" id="search_type" required>
                <option value="date">Date</option>
                <option value="category">Category</option>
            </select>
    
            <label for="search_term">Search Term:</label>
            <input type="text" id="search_term" name="search_term" placeholder="Enter date or category" required>
    
            <div class="new-entries">
                <h1>New Entries</h1>
            </div>
            <label for="new_date">New Date:</label>
            <input type="date" id="new_date" name="new_date" required>
    
            <label for="new_amount">New Amount:</label>
            <input type="number" step="0.01" id="new_amount" name="new_amount" placeholder="Enter new amount" required>
    
            <label for="new_category">New Category:</label>
            <input type="text" id="new_category" name="new_category" placeholder="Enter new category" required>
    
            <label for="new_description">New Description:</label>
            <input type="text" id="new_description" name="new_description" placeholder="Enter new description" required>
    
            <button type="submit">Update Expense</button>
        </form>
    </div>
    <footer>
        <div class="footer">
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="../templates/support.html">Contact Us</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}