{% extends "base.html" %}
{% block title %}View{% endblock %}
{% block content %}
    <nav>
        <div class="navbar">
            <a href="#" class="logo"><i class="fas fa-chart-line"></i> Expense Tracker</a>
            <ul class="nav-links">
                <li><a href="/home_page">Home</a></li>
                <li><a href="/add">Add</a></li>
                <li><a href="/view">View</a></li>
                <li><a href="/delete">Delete</a></li>
                <li><a href="/update">Update</a></li>
            </ul>
            <div class="buttons">
                <a href="/home" class="btn-head"><i class="fas fa-sign-in-alt"></i> Log Out</a>
            </div>
        </div>
    </nav>

    <div class="content-box">
        <div>
            <h2>View Records</h2>
            
            <form action="/view" method="POST" class="view-form">
                <label for="viewType">Type:</label>
                <select id="viewType" name="type">
                    <option value="" default>Select</option>
                    <option value="income">Income</option>
                    <option value="expense">Expense</option>
                </select><br>
                <button type="submit">View Records</button>
            </form>
        </div>
        
        {% if expenses %}
        <table class="view-table">
            <thead class="view-table-hd">
                <tr >
                    <th>ID</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Description</th>
                </tr>
            </thead>
            
            {% for expense in expenses %}
            <tbody class="view-table-bd">
                <tr>
                    <td>{{ expense.exp_id or expense.inc_id}}</td>
                    <td>{{ expense.date}}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.description}}</td>
                </tr>
            </tbody>
            
            {% endfor %}
        </table>
        {% else %}
        <p>No expenses found.</p>
        {% endif %}
    </div>
    <footer>
        <div class="footer">
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="/support">Contact Us</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}
